.pading-10-0 {
    padding: 10px 0;
}

#view {
    /*height: calc(100vh - 144px);
    overflow-y: scroll;
    box-sizing: border-box;*/
    padding-bottom: 30px;
}

.pagination-fixed {
    position: fixed;
    bottom: 0;
    left: 140px;
    background-color: #fff;
    width: 100%;
    z-index: 10;
}